html {
  position: relative;
}
body {
  background: url('../img/pattern.png');
}

header {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
header nav {
  display: block;
  float: right;
}
header nav ul a {
  display: inline-block;
  list-style: none;
  margin: 0 0.5rem;
}

section {
  background-color: #fff;
  width: 70%;
  height: 100%;
  margin: 5rem auto;
}

section h1 {
  text-align: center;
  padding-top: 2rem;
}

section #article-list article {
  border-bottom: 2px solid rgb(150, 150, 150);
  margin: 0 1rem 3rem 1rem;
}
section #article-list article a {
  text-decoration: none;
}

footer {
  background: #000;
  color: #fff;
  height: 60px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
