#example1_filter.dataTables_filter {
    float: right !important;
}
label {
    display: inline-flex !important;
}
.pagination {
    float: right !important;
}
.custom-select-sm.form-control-sm,
.form-control-sm {
    margin: -3px 5px;
}

.foto-profile.center {
    margin: 0 auto;
}

.card .card-body .card .bi-person-circle {
    font-size: 6rem;
}
