@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html{
    position: relative;
}
header{
    padding: 0 0 1.5rem 0;
}

header .flow-root{
    display: flow-root;
}
header ul{
    display: inline;
    float: right;
}
header ul a li:hover{
    color: #007bff;
}

header ul a li{
    list-style: none;
    display:inline-block;
    padding: 0 1rem;
}

@media (min-width: 700px){
    header form input[type="search"]{
        width: 18rem !important;
    }
}

header form button{
    position: absolute;
    right: 2rem;
}
.navbar .navbar-nav li a{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.575) !important;
}
.navbar .navbar-nav li a:hover{
    color: rgba(0, 0, 0, 0.863) !important;
}
.navbar .navbar-nav li{
    padding: 0 4rem;
    margin: 0 auto;
}

.card .card-body p.card-text{
    font-size:18px;
}

.bi-star-fill{
    color: rgb(235, 214, 26);
}

form.form-login{
    border: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    border-radius: .25rem;
}

form.form-login button[type="submit"]{
    width:100%;
}

@media (max-width: 576px){
    .py-sm-3{
        padding: 1rem 3rem;
    }
}